/*.box-set {
  background:
  height: 80px
}*/


#nav-bar {
  background: #696969;
  padding-left: 2em;
  padding-right: 2em;
  color: black;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  float: left;
  margin: 10px;
  font-size: 31.5px;
  line-height: 200%;
}

#nav-bar .HeadButt {
  width: 120px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 8px;
  float: right;
  border: 2px solid;
  transition-duration: 0.4s
}

#nav-bar .HeadButt:hover {
  background-color: #696969;
  color: white;
}